

.calender_artist {

  border-radius: 20px;
  background-blend-mode: multiply;
  background: #fd6f77 !important;
  width: 600px !important;
  box-shadow: -10px 10px 0px 0px #32435a73;
}
.view {
  align-items: center;
  flex-direction: column;
  display: flex;
}
.artist_profile_name {
  margin: 0;
}
.artist_profile_role {
  font-size: 20px;
  text-align: center;
}
.art_profile {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.artist_art-ManageProfile_award {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 250px;
  height: 120px;
  flex-shrink: 0;
  padding: auto 10px;
  border-radius: 10px;
}
.profile_video {
  width: 630px;
  height: 250px;
  flex-shrink: 0;
  padding: auto 10px;
  border-radius: 10px;
  margin-top: 30px;
}
.video_heading {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #ad2f3b;
}
.profile_instagram {
  color: mediumvioletred;
  font-size: 35px;
  font-weight: bold;
  cursor: pointer;
}

.profile_facebook {
  font-size: 35px;
  font-weight: bold;
  color: blue;
  cursor: pointer;
}

.profile_Youtube {
  font-size: 35px;
  font-weight: bold;
  color: red;
  cursor: pointer;
}

.profile_LinkedIn {
  font-size: 35px;
  font-weight: bold;
  color: blue;
  cursor: pointer;
}

.profile_twitter {
  font-size: 35px;
  font-weight: bold;
  color: blue;
  cursor: pointer;
}

.artist-top-division {
  width: 80%;
  margin: auto;
  font-family: Poppins;
  font-size: 22px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0em;

  display: flex;
  align-items: center;
  flex-direction: column !important;
  color: #ad2f3b;
}

.artist_circleprofile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  border-radius: 50%;
  width: 170px;
  height: 170px;
  justify-content: center;
}

.artist_circleprofile img {
  border-radius: 50%;
  border: 1px solid;
  height: 170px;
  width: 170px;
}
.artist_art-ManageProfile {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  margin-bottom: 70px;
  width: 600px;
  flex-shrink: 0;
  padding: auto 10px;
  border-radius: 10px;
}

.artist_art_Profile {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 390px;
  height: 120px;
  flex-shrink: 0;
  padding: auto 10px;
  border-radius: 10px;
}

.artist_art_Profile h1 {
  width: 85%;
  margin: auto;
  color: #ad2f3b;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
}
.basic_profile h1 {
  gap: 14px;
  display: flex;
  padding: 14px;
  color: #ad2f3b;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}
.artist_art-ManageProfile h1 {
  width: 85%;
  margin: auto;
  color: #ad2f3b;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
}

.artist_art-ManageProfile_award h1 {
  width: 85%;
  margin: auto;
  color: #ad2f3b;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
}
.left-division {
  /* display: flex;
  flex-wrap: wrap; */
  flex: 1 1;
  padding: 20px;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0em;
  color: #ad2f3b;
}

.left_artist,
.right_artist {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0em;
  color: #ad2f3b;
}

.major_events_container {
  color: #818181;
}
.profile_heading {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: #000;
  width: 165px;
}
.artist_art-ManageProfile .profile_heading{
  width: max-content;
}
.basic_profile-card {
  display: flex;
  margin-bottom: 30px;
  flex-direction: row;
  
}
.performance_profile {
  width: 630px;
  height: auto;

  flex-shrink: 0;
  padding: auto 10px;
  border-radius: 10px;
 
}

.performance_profile h1 {
  margin-left: 20px;
  color: #ad2f3b;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
}

.performance_heading {
  font-size: 18px;
  margin-left: 20px;
  font-weight: 500;
  color: black;
}
.performance_para {

  margin-left: 20px;
  color: #818181;
}
.right-division {
  /* display: flex;
  flex-wrap: wrap; */
  flex: 1;
  padding: 20px;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  margin-left: 10px;
  color: #ad2f3b;
}
.right-division .profile_heading ,.performance_para,.right_artist .profile_heading{
  color: whitesmoke;
}
.right-division-basic {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  margin-left: 10px;
  color: #ad2f3b;
}
.artist_art_Profile .profile_heading{
  width: max-content;
}
.artist_art_Profile .profile-card{
  gap: 15px;
}
.profilesection-heading {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}

.profileparagraph-text {
  font-size: 18px;
  margin-bottom: 15px;
  color: #818181;
  font-weight: 500;
}

.profile-card {
  display: flex;
  width: 90%;
  margin: auto;
}
.OtherDetails_card {
  width: 80%;
  max-width: 400px;
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.major_events {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: #818181;
}
.left_content_profile {
  display: flex;
  flex-direction: row;
}
h2 {
  margin-bottom: 15px;
}

.sub-container {
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
}

.profile-container {
  display: flex;
  width: 90%;
  margin: auto;
  overflow: hidden;
  transition: height 0.5s ease;
}

.left-container {
  width: 50%;
  padding: 20px;
}
.right-container {
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
}

.subdiv-left {
  height: 50px;
  background-color: green;
}

.subdiv-right {
  height: 50px;
 
}

.aboutartist {
  margin-bottom: 20px;
    margin-top: 20px;
  width: 600px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: justify;
  color: #818181;
}
.aboutartist h2 {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #ad2f3b;
}

.right_bottom_container {
  background: #ffd3d8;
  width: 60%;
  height: 40vh;
  border-radius: 10px;
}

.paragraph-text {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  margin-left: 10px;
  color: #818181;
  font-size: 16px;
  margin-bottom: 15px;
}

.section-heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}
.artist-ManageProfile {
  margin-top: 20px;
  margin-bottom: 20px;
}
.artist-ManageProfile h1 {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #ad2f3b;
}

.profile_social_icons {
  display: flex;
  gap: 80px;
  margin-top: 70px;
}

.view_button {
  margin-bottom: 30px;
  padding: 10px;
  border: none;
  color: black;
  text-align: center;
  box-shadow: 0px 4px 4px 0px #00000040;
  background: #fff0f1;
  width: fit-content;
  font-family: Poppins;
  font-size: 18px;
  border-radius: 9px;
  font-weight: 400;
  cursor: pointer;
}

@media (max-width: 768px) {
  .artist_profile_role {
    text-align: center;
  }
  .profile-container {
    display: flex;
    flex-direction: column;
  }
  .right-division-basic {
    margin-left: -70px;
    padding: 0px;
  }
  .left-container {
    width: 100%;
    padding: 0;
  }
  .right-container {
    padding: 0;
  }
  .art_profile {
    display: flex;
    flex-direction: column;
  }
  .right-container,
  .profile_video,
  .aboutartist {
    width: 100%;
  }
  .artist_art-ManageProfile_award {
    width: 100%;
  }
  .artist_art_Profile {
    width: 100%;
    height: auto;
  }
  .artist_art_Profile h1,
  .artist_art-ManageProfile_award h1 {
    text-align: center;
    width: 100%;
  }
  .profile_social_icons {
    gap: 45px;
    margin-top: 50px;
  }
  .artist-top-division {
    display: flex;
    flex-direction: column !important;
    align-items: center;
    text-align: center;
  }
  .performance_profile {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .performance_heading {
    font-size: 16px;
  margin: 0px;
  width: max-content;
    font-weight: 500 !important;
    color: black;
  }
  .performance_para{
    margin: 0px ;
  
  }
  .performance_profile h1{
    margin: 0px;
  }
  .major_events_container {
    color: #818181;
  }
  .artist-ManageProfile {
    margin: 20px 0px 20px;
  }
  .artist_art-ManageProfile {
    width: 100%;
  }
  .left-division {
    padding: 0px;
    font-size: 16px;
  }
  .right-division {
    padding: 0px;
    font-size: 16px;
  }
  .profile_heading {
    font-size: 15px;
  }
  .basic_profile h1 {
    padding: 0px;
  }





@media only screen and (max-width: 1024px) {
  .calender_artist {
    width: 100% !important;
  }

  .art_profile,
  .profile_video,
  .aboutartist,
  .artist_art-ManageProfile_award,
  .artist_art_Profile,
  .profile_social_icons,
  .artist-top-division,
  .performance_profile,
  .major_events_container,
  .artist-ManageProfile {
    width: 100%;
    max-width: 100%;
    margin-top: 25px;
  }

  .right-division-basic {
    margin-left: -70px;
  }

  .art_profile {
    display: flex;
    flex-direction: column;
  }
  .left-container,
  .right-container {
    width: 100%;
    padding: 0;
  }

  .artist_circleprofile {
    width: 100%;
    height: auto;
  }

  .profile-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }

  .right-division-basic,
  .right-division {
    font-size: 16px;
  }

  .profile_heading {
    font-size: 15px;
  }
}
}
